h1 {
	margin-top: 100px;
}
.txt-center {
	text-align: center;
}
.fa-btn {
  padding: 0;
  margin: 0 5px 0 0;
  line-height: 0;
  font-size: 1em;
  border: 0;
  height: 100%;
}
.flag {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 7px;
    font-size: 12px;
}
.flag-personal {
    background-color: #7DCDD4;
}
.flag-books {
    background-color: #FFD5E3;
}
.flag-work {
    background-color: #FDAE2A;
}
table {
	margin-bottom: 100px;
}
footer {
  left: 0;
  bottom: 0;
  height: 50px;
	background-color: #eee;
}

.complete {
	text-decoration: line-through;
	color: #666;
	opacity: 0.4;
}

.complete-icon {
	color: red;
}
